/* Remove default html margin, padding and assign box-sizing to border-box  */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Global variable definitions */
:root {
    --header-footer-background-color: #404040;
    --lightskyblue: lightskyblue;
    --lightgray: lightgray;
    --about-me-work-border: #333366;
    --rgba-border-color-opacity: rgba(135, 206, 250, 0.8);
    /* Font-Family Styling */
    --fontcg: 'Roboto', sans-serif;


}

/* ============== SEMANTIC CSS CODE (START) =============== */

html {
    scroll-behavior: smooth;
}

/* HEADER STYLING (START) */
header {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    list-style: none;
    background-color: var(--header-footer-background-color);
}

header h1 {
    padding: 10px 0px 0px 50px;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: center;
    list-style: none;
    padding-right: 0px;
    margin: 15px;
}

header nav ul li {
    font-size: 1.8vw;
    padding: 10px 15px;
    margin-top: 5px;
    margin-bottom: 10px;
}

header a {
    padding: 0 10px 5px 10px;
    text-decoration: none;
    border-bottom: 2px solid var(--lightskyblue);
    color: var(--lightskyblue);
}

/* HEADER STYLING (END)  */

/* BODY STYLING (START)  */
body {
    background: var(--lightgray);
}

/* BODY STYLING (END)  */

/* FOOTER STYLING (START)  */
footer {
    background-color: var(--header-footer-background-color);
    color: var(--lightskyblue);
}

footer a {
    text-decoration: none;
    border-bottom: 2px solid var(--lightskyblue);
    color: var(--lightskyblue);
    font-size: 1.8vw;
}

/* FOOTER STYLING (END)  */

/* ============== SEMANTIC CSS CODE (END) =============== */


/* Header nav hover  */
.nav-effects a:hover {
    color: var(--lightskyblue);
    font-weight: bold;
    text-shadow: 0px 0px 20px var(--lightskyblue);
}

.footer-container a:hover {
    color: var(--lightskyblue);
    font-weight: bold;
    text-shadow: 0px 0px 20px var(--lightskyblue);
}

.work-grid-container div:hover {
    mix-blend-mode: difference;
}

.work-item.work-title:hover {
    mix-blend-mode: normal;
}

.work-grid-container .work-item-project.ghost-item:hover {
    opacity: 0;
}

/* Hover effect on classes (End)  */

/* Section/hero class with background (Start) */
.hero {
    height: 400px;
    border-bottom-left-radius: 30px 30px;
    border-bottom-right-radius: 30px 30px;
    background-size: cover;
    background-position: center 160%;
    background-attachment: fixed;
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: flex-end;
    background-image: url(/assets/images/image.jpg);
}

.hero-subtitle {
    padding: 0px 15px 15px 0px;
}

/* section/hero class with background (End)*/

/* Span styling (Start)  */
.span-background {
    background-color: var(--lightskyblue);
    position: relative;
    line-height: 1.5;
    padding: 0px 8px 0px 8px;
    border-radius: 5%;
    opacity: .7;
}

.span-background.title {
    margin: 10px 0px 20px 0px;
}

.span-background.opacity {
    opacity: .95;
    font-size: 30px;
}

.span-background.lower-text {
    font-size: small;
}

/* Span styling (End)  */

/* Flex footer styling (Start)  */
.footer-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 50px;
}

.footer-container {
    width: 80%;
    display: grid;
    grid-template-columns: 1fr repeat(4, 2fr);
    grid-template-rows: repeat(3, 2fr);
    gap: 20px 20px;
}

.footer-grid-item {
    text-align: center;
}

.footer-grid-item.contact-me {
    font-size: 35px;
    grid-row: 1 /span 3;
    text-align: right;
    padding: 10px 10px 0px 0px;
    border-right: 2px solid var(--lightskyblue);
}

.footer-grid-item.phone,
.footer-grid-item.email,
.footer-grid-item.github,
.footer-grid-item.linkedin {
    grid-row: 2;
}

/* Flex footer styling (End)  */

/* Flex Styling for Aboutme (Start) */
.about-me-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    justify-content: center;
    margin-top: 50px;
}

.about-me-grid-container {
    width: 80%;
    display: grid;
    grid-template-columns: 1fr repeat(4, 2fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 10px 10px;
}

.about-me-item.about-me-title {
    padding: 0px 10px 0px 0px;
    font-size: 35px;
    grid-row: 1 /span 4;
    text-align: right;
    border-right: 2px solid var(--about-me-work-border);
}

.about-me-item.p1 {
    padding-left: 10px;
    grid-column: 2 /span 4;
    grid-row: 1/ span 2;
    line-height: 1.5rem;
}

.about-me-item.p2 {
    padding-left: 10px;
    grid-column: 2 /span 4;
    grid-row: 3 /span 2;
    line-height: 1.5rem;
}

/* Flex Styling for Aboutme (End) */

/* Flex Styling for Work/Projects (Start)  */
.work-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    justify-content: center;
    margin: 50px 0px 0px 0px;
}

.work-grid-container {
    width: 80%;
    display: grid;
    grid-template-columns: 1fr repeat(4, 2fr);
    grid-template-rows: repeat(13, 1fr);
    gap: 10px 10px;
    /* GAP on X and Y */
}

.work-item.work-title {
    padding: 10px 10px 0px 0px;
    font-size: 35px;
    grid-row: 1 /span 12;
    text-align: right;
    border-right: 2px solid var(--about-me-work-border);
    overflow-wrap: anywhere;
}

.work-item-project.code-refactor {
    grid-column: 2 /span 4;
    grid-row: 1 / span 6;
    background: url("../images/horiseon.png");
    background-size: cover;
    display: flex;
    align-items: flex-end;
    padding: 0px 0px 15px 0px;
    text-align: left;
    border: .25vw solid var(--rgba-border-color-opacity);
    cursor: pointer;
}

.work-item-project.password-generator {
    grid-column: 2 /span 2;
    grid-row: 7 / span 3;
    background: url("../images/password.jpg") 100%;
    background-size: cover;
    display: flex;
    align-items: flex-end;
    padding: 0px 0px 15px 0px;
    text-align: left;
    border: .25vw solid var(--rgba-border-color-opacity);
    cursor: pointer;
}

.work-item-project.pastel-puzzels {
    grid-column: 4 / span 2;
    grid-row: 7 / span 3;
    background: url("../images/puzzels.jpg") 100%;
    background-size: cover;
    display: flex;
    align-items: flex-end;
    padding: 0px 0px 15px 0px;
    text-align: left;
    border: .25vw solid var(--rgba-border-color-opacity);
    cursor: pointer;
}

.work-item-project.run-buddy {
    grid-column: 4 / span 2;
    grid-row: 10 / span 3;
    background: url("../images/runbuddy.jpg") 100%;
    background-size: cover;
    display: flex;
    align-items: flex-end;
    padding: 0px 0px 15px 0px;
    text-align: left;
    border: .25vw solid var(--rgba-border-color-opacity);
    cursor: pointer;
}

.work-item-project.calculator {
    grid-column: 2 / span 2;
    grid-row: 10 / span 3;
    background: url("../images/calculator.jpg") 100%;
    background-size: cover;
    display: flex;
    align-items: flex-end;
    padding: 0px 0px 15px 0px;
    text-align: left;
    border: .25vw solid var(--rgba-border-color-opacity);
    cursor: pointer;
}

.work-item-project.ghost-item {
    grid-column: 3/span 1;
    opacity: 0;
}

/* Flex Styling for Work/Projects (End)  */


/* =============== MEDIA QUERIES (START) =============== */

/* Media screen 980px */
@media screen and (max-width: 980px) {
    header {
        justify-content: center;
    }

    header h1 {
        padding: 0px;
    }

    .hero-subtitle {
        padding-right: 30px;
    }

    .span-background.opacity {
        font-size: 25px;
    }

    .hero {
        background-attachment: scroll;
    }

    .about-me-wrapper {
        margin-top: 20px;
    }

    .about-me-grid-container {
        grid-template-columns: repeat(3, 2fr);
        grid-template-rows: repeat(4, 1fr);
        gap: 5px 5px;
    }

    .about-me-item.about-me-title {
        padding: 0px 0px 0px 0px;
        font-size: 25px;
        grid-column: 1 /span 3;
        grid-row: 1 /span 1;
        text-align: center;
        border-right: none;
        border-bottom: 2px solid var(--about-me-work-border);
        align-self: flex-start;
    }

    .about-me-item.p1 {
        padding-top: 5px;
        grid-column: 1 / span 3;
        grid-row: 2 /span 2;
    }

    .about-me-item.p2 {
        padding: 5px 0px 10px 0px;
        grid-column: 1 /span 3;
        grid-row: 4 / span 2;
    }

    .footer-wrapper {
        margin-top: 20px;
    }

    .footer-container {
        width: 100%;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(3, 1fr);
        gap: 2px 2px;
    }

    .footer-grid-item.contact-me {
        padding: 0px 0px 0px 25px;
        font-size: 25px;
        grid-column: 1 /span 4;
        grid-row: 1 /span 1;
        text-align: center;
        border-right: none;
        border-bottom: 2px solid var(--lightskyblue);
    }

    .footer-grid-item.phone {
        grid-column: 1 / span 1;
        grid-row: 2 /span 2;
        align-self: center;
        padding-right: 25px;
    }


    .footer-grid-item.email {
        grid-column: 2 / span 1;
        grid-row: 2 /span 2;
        align-self: center;
        padding-right: 25px;
    }

    .footer-grid-item.github {
        grid-column: 3 / span 1;
        grid-row: 2 /span 2;
        align-self: center;
        padding-right: 25px;
    }

    .footer-grid-item.linkedin {
        grid-column: 4 / span 1;
        grid-row: 2 /span 2;
        align-self: center;
        padding-right: 25px;
    }

    .work-wrapper {
        margin-top: 15px;
    }

    .work-grid-container {
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: .5fr repeat(12, 1fr);
        gap: 2.5px 2.5px;

    }

    .work-item.work-title {
        font-size: 35px;
        grid-column: 1 / span 4;
        grid-row: 1 /span 1;
        text-align: center;
        padding: 0px 0px 0px 0px;
        border-bottom: 2px solid var(--about-me-work-border);
        border-right: none;
        align-self: flex-start;
    }

    .work-item-project.code-refactor {
        grid-column: 1 / span 4;
        grid-row: 2 / span 3;
        align-items: flex-end;
        text-align: center;
        background-position: scroll;
    }

    .work-item-project.password-generator {
        grid-column: 1 / span 4;
        grid-row: 5 / span 2;
        align-items: flex-end;
        text-align: center;
        background-position: scroll;
    }

    .work-item-project.pastel-puzzels {
        grid-column: 1 / span 4;
        grid-row: 7 / span 2;
        align-items: flex-end;
        text-align: center;
        background-position: scroll;
    }

    .work-item-project.calculator {
        grid-column: 1 / span 4;
        grid-row: 9 / span 2;
        align-items: flex-end;
        text-align: center;
        background-position: scroll;
    }

    .work-item-project.run-buddy {
        grid-column: 1 / span 4;
        grid-row: 11 / span 2;
        align-items: flex-end;
        text-align: center;
        background-position: scroll;
    }

}

/* Media Screen 768px */

@media screen and (max-width: 768px) {

    header a,
    footer a {
        font-size: 3vw;
    }

    .nav-effects a:hover {
        font-size: 3vw;
    }

    .footer-container a:hover {
        font-size: 1.8vw;
    }

    .hero {
        background-attachment: scroll;
    }

    .about-me-grid-container {
        grid-template-columns: repeat(3, 2fr);
        grid-template-rows: repeat(4, 1fr);
        gap: 5px 5px;
    }

    .about-me-item.about-me-title {
        padding: 0px 0px 0px 0px;
        font-size: 25px;
        grid-column: 1 / span 3;
        grid-row: 1 /span 1;
        text-align: center;
        border-right: none;
        border-bottom: 2px solid var(--about-me-work-border);
        align-self: flex-start;
    }

    .about-me-item.p1,
    .about-me-item.p2 {
        padding-left: 0px;
    }

    .work-wrapper {
        margin-top: 15px;
    }

    .work-grid-container {
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: .5fr repeat(12, 1fr);
        gap: 2.5px 2.5px;
    }

    .work-item.work-title {
        font-size: 35px;
        grid-column: 1 / span 4;
        grid-row: 1 /span 1;
        text-align: center;
        padding: 0px 0px 0px 0px;
        border-bottom: 2px solid var(--about-me-work-border);
        border-right: none;
        align-self: flex-start;
    }

    .work-item-project.code-refactor,
    .work-item-project.password-generator,
    .work-item-project.pastel-puzzels,
    .work-item-project.calculator,
    .work-item-project.run-buddy {
        text-align: center;
        background-position: scroll;
        align-items: flex-end;
    }

    .work-item-project.code-refactor {
        grid-column: 1 / span 4;
        grid-row: 2 / span 3;
    }

    .work-item-project.password-generator {
        grid-column: 1 / span 4;
        grid-row: 5 / span 2;
    }

    .work-item-project.pastel-puzzels {
        grid-column: 1 / span 4;
        grid-row: 7 / span 2;
    }

    .work-item-project.calculator {
        grid-column: 1 / span 4;
        grid-row: 9 / span 2;
    }

    .work-item-project.run-buddy {
        grid-column: 1 / span 4;
        grid-row: 11 / span 2;
    }

    .footer-wrapper {
        margin-top: 10px;
    }
}

@media screen and(max-width: 575px) {
    header a {
        font-size: 4vw;
    }

    header nav ul {
        padding-right: 0px;
        justify-content: center;
    }

    header nav ul li {
        padding: 2px 2px 2px 2px;
    }

    p {
        font-size: 5vw;
    }

    footer a {
        font-size: 3.5vw;
    }

    .nav-effects a:hover {
        font-size: 4vw;
    }

    .footer-container a:hover {
        font-size: 3.5vw;
    }

    .footer-container {
        gap: 0px 0px;
    }

    .footer-grid-item.linkedin {
        padding-left: 90px;
    }

}

/* =============== MEDIA QUERIES (END) =============== */